.searchResults {
	clear: both;
}

.searchResult {
	display: block;
	padding-top: 1.5em;
}

.searchResultFooter {
	padding-top: .5em;
}


.typography div#PageNumbers {
	padding-top: 2em;
}

#ElasticSearchForm_SearchForm fieldset {
	float: left;
}

#ElasticSearchForm_SearchForm .Actions {
	float: left;
	padding-left: 20px;
	padding-top: 2px;
}
