.searchResults {
	clear: both;
}

.searchResult {
	display: block;
	padding-top: 1.5em;
}

.searchResultFooter {
	padding-top: .5em;
}


.typography div#PageNumbers {
	padding-top: 2em;
}

#ElasticSearchForm_SearchForm fieldset {
	float: left;
}

#ElasticSearchForm_SearchForm .Actions {
	float: left;
	padding-left: 20px;
	padding-top: 2px;
}


.aggregationMenu h3 {
	padding-top: 1em;
}

/* -- search result info -- */
.typography p.showingResultsForMsg {
	font-size: 140%;
	padding-top: 10px;
	margin: 0px;
}

 .typography p.searchOriginalQueryMsg {
	margin: 0;
	padding: 0;
	margin-top: 5px;
}

/* -- search results -- */
div.searchResult {
	clear: both;
}

strong.hl {
	font-weight: bold;

}


div.searchResult .infoAndImage {
	display: table;
	width: 100%;
}

.infoAndImage .searchResultInfo, .infoAndImage img {
	display: table-cell;
	vertical-align: top;
}

.infoAndImage img {
	float: right;
}

.source {
	float: right;
}

div.searchFooter {
	margin-top: 6px;
	color: #777;
}

/* -- aggregations -- */
.main .secondary ul.aggregations li {
    padding: 10px 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #111;
    line-height: 17px;
    border-bottom: none;
    font-family: 'Lucida Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
}

.main .secondary ul.aggregations li span.facetToggle,
.main .secondary ul.aggregations li .remove
 {
	color: #b80000;
	font-family: 'WebSymbolsRegular';
	font-size: 120%;
	cursor: pointer;
}

.main .secondary ul.aggregations li.selected a {
	float: right;
	padding-top: 0px;
}


span.count {
	color: #AAA;
	font-weight: bold;
}


#PageNumbers {
	clear: both;
	text-align: center;
	margin-top: 2em;
}

#PageNumbers a {
	padding: 4px 8px;
	background: #E7E7E7;
}

#PageNumbers span.current, #PageNumber span.dotdotdot {
	padding: 4px 8px;
}


